#==============================================================#
#															 #
# ⚙️   W H I T E L I S T										#
#															 #
#==============================================================#

*
!.gitignore

#==============================================================#
#															 #
# 🔨   B U I L D											#
#															 #
#==============================================================#

!Makefile

#==============================================================#
#															 #
# 📝   F I L E S												#
#															 #
#==============================================================#

!*.c
!*.h

#==============================================================#
#															 #
# 📁   F O L D E R S										#
#															 #
#==============================================================#

!/libft/
!/libft/**
!/libmlx
!/libmlx/**
!/maps/
!/textures/